// invoice variables
$page-width: 21cm;
$page-height: 29.7cm;
$page-bg: #ffffff;
$page-color: #000000;
$page-margin: 1cm;
$invoice-font-size: 12px;
$font-family: sans-serif;
@mixin no-page-break {
    page-break-inside: avoid;
}

// reset page
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $invoice-font-size;
    font-family: $font-family;
    font-weight: inherit;
}

// set typography
table {
    width: 100%;
    table-layout: fixed;
}

small {
    font-size: 80%;
}

strong {
    font-weight: bold;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
        span,
        strong,
        small {
            display: inline-block;
            vertical-align: bottom;
            &:first-child {
                margin-right: 3px;
            }
        }
    }
}

// set page
@page {
    margin: $page-margin;
    width: $page-width;
    height: $page-height;
}

body,
#document,
.invoice,
.bill {
    @include no-page-break();
    width: 100%;
}

#document {
    width: 100%;
    background: $page-bg;
    color: $page-color;
    margin: 0;
}

.invoice,
.bill {
    border: 1px solid $page-color;
}

.invoice-header {
    width: 100%;
    .company-info,
    .client-info {
        width: 30%;
        text-align: left;
        padding: 3mm;
        vertical-align: top; 
    }
    th {
        vertical-align: top;
    }
    .invoice-info {
        width: 40%;
        text-align: center;
        padding: 3mm;
        h2 {
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 1mm;
            letter-spacing: -1px;
        }
        img {
            display: block;
            position: relative;
            margin-bottom: 3mm;
        }
        .box {
            padding: 2mm;
            border: 1px solid $page-color;
            text-align: left;
            width: 80%;
            margin: 0 auto;
        }
    }
}

.invoice-content {
    border-top: 1px solid #000;
    height: 10cm;
    overflow: hidden;
    tbody {
        height: 100%;
        td {
            border-bottom: none;
        }
        tr {
            height: 1cm;
            &:last-child {
                height: auto;
                td {
                    border-top: 1px solid $page-color;
                }
            }
        }
    }
    td,
    th {
        border-bottom: 1px 1px solid $page-color;
        padding: 2mm;
        vertical-align: top;
        border-right: 1px 1px solid $page-color;
        &:last-child {
            border-right: 1px 1px solid $page-color;
        }
    }
    .last-row {
        td {
            height: 10cm;
        }
    }
}

.invoice-content {
    .nr {
        width: 5%;
    }
    .item {
        width: 35%;
    }
    .unit {
        width: 5%;
        font-size: 10px;
    }
    .qty {
        width: 10%;
    }
    .unit-price {
        width: 15%;
    }
    .value {
        width: 15%;
    }
    .vat-value {
        width: 15%;
    }
    thead {
        th {
            font-weight: bold;
        }
    }
    .numbers th {
        padding: 2px 0 !important;
        font-weight: normal;
    }
}

.invoice-footer {
    height: 5cm;
    
    td {
        border-right: 1px solid $page-color;
        border-bottom: 1px solid $page-color;
        padding: 2mm;
    }
    .signature {
        width: 15%;
        vertical-align: top;
    }
    .expedition {
        width: 40%;
        vertical-align: top;
        ul {
            li {
                margin-bottom: 4px;
            }
        }
    }
    .total {
        width: 45%;
        table-layout: fixed;
        padding: 0;

        > table {
            height: 5cm;
            .first-row,
            .last-row {
                td {
                    vertical-align: top;
                    text-align: left;
                    height: 1.33cm;
                }
            }
            .middle-row {
                td {
                    vertical-align: middle;
                    height: 1.34cm;
                    border-bottom: 1px solid $page-color; 
                }
            }
            .last-row {
                td {
                    border-bottom: 0px !important;
                }
            }
            td:last-child {
                border-right: 0px !important;
            }
        }
    }
}

tfoot th {
    border-top: 1px 1px solid $page-color;
}

.bill {
    margin-top: 5mm;
    td {
        padding: 3mm;
        vertical-align: top;
        text-align: left;
    }

    .bill-company {
        width: 35%;
    }

    .bill-info {
        width: 65%;

        .bill-series {
            width: 100%;
            text-align: right;
            font-size: 14px;
        }

        .bill-top {
            width: 100%;
            text-align: left;
            margin: 4mm 0;

            h1 {
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 700;
                vertical-align: bottom;

                span {
                    font-size: 12px;
                    text-transform: initial;
                    font-weight: normal;
                    display: inline-block;
                }
            }
        }

        .bill-content {
            margin-bottom: 3mm;
        }

        .casier {
            text-align: right;

            span {
                display: inline-block;
                width: 30%;
                text-align: center;
                margin-left: auto;
            }
        }
    }
}
