// ===============================================
//  GENERATE COLOR CLASSES WITH SASS FUNCTIONS
// ===============================================
$colors: (  
    primary: $primary,
    accent: $accent,
    light: $white,
    dark: $dark,
    black: $black,
    type: $type,
    light-grey: $light-grey
    );

@each $key,
$color in $colors {
    .da-text-#{$key} {
        color: $color;
    }
    .da-background-#{$key} {
        background-color: $color;
    }
    @for $i from 1 through 10 {
        $opacity: $i * 10;
        $op: $opacity / 100;
        .da-background-transparent-#{$key}-#{$opacity} {
            background-color: rgba($color, $op);  
        }
    }
}
